<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>vue validator demo</title>
    <style>
    .validate-fail {
      border: solid 1px red;
    }

    </style>
  </head>
  <body>
    <div id="app">
      {{message}}
      <table>
        <tr>
          <td>name</td>
          <td>
            <input v-validator:employee$name="ruleRequired" v-model="employee.name" type="text">
          </td>
        </tr>
        <tr>
          <td>age</td>
          <td>
            <input v-validator="'required|number|max:100|min:0'" v-model="employee.age" type="text">
            <span v-validator="'required'" data-vv-path="employee.age"> {{employee.age}} </span>
            <span v-validator:employee$age="'required|number|max:100|min:0'"> {{employee.age}} </span>
          </td>
        </tr>
        <tr>
          <td>phone</td>
          <td>
            <input v-validator="ruleMobile" v-model="phone" type="text" name="" value="">
          </td>
        </tr>
        <tr>
          <td>number-max-min</td>
          <td>
            <input v-validator="ruleNumber" type="text" value="32">
          </td>
        </tr>
        <tr>
          <td>length</td>
          <td>
            <input v-validator="ruleLength" type="text" value="45">
          </td>
        </tr>
        <tr>
          <td>id card</td>
          <td>
            <input v-validator="ruleIDCard" type="text" value="848484848484848">
          </td>
        </tr>
        <tr>
          <td>address</td>
          <td>
            <span v-validator:address="ruleRequired"> {{address}} </span>&nbsp;
            <span v-validator="'required'" data-vv-path="address"> {{address}} </span>
            <textarea v-validator="ruleRequired" v-model="address" rows="8" cols="80"></textarea>
          </td>
        </tr>
        <tr>
          <td>description</td>
          <td>
            <textarea v-validator="ruleRequired" v-model="description" rows="8" cols="80"></textarea>
          </td>
        </tr>
        <tr>
          <td colspan="2">
            <button type="button" :disabled="!validate$pass" name="button">submit</button>
          </td>
        </tr>
      </table>

      address
      <input type="text" v-model="address">
      age
      <input type="text" v-model="employee.age">
      <select>
        <option value="">1</option>
      </select>

      <button type="button" name="button" @click="show = !show">show/hide</button>
      <second v-if="show"></second>


    </div>

    <script type="text/javascript" src="../node_modules/vue/dist/vue.js"></script>
    <script type="text/javascript" src="../dist/vue-validator.umd.js"></script>
    <script type="text/javascript" src="index.js"></script>

  </body>
</html>
